body{
    padding:0;
    margin:0;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
}
@font-face{
    font-family: pixel;
    src: url(./joystix\ monospace.ttf);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.screen{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    flex-basis: 10%;
}

.paused{
    display: none;
    position: absolute;
    margin-bottom: 10vh;
    z-index: 2;

    font-size: 1.2vw;
    color: white;
    font-family: pixel;
    text-align: center;
}

.canvas{
    border:white 3px solid;
    z-index: 1;
}
.hold-canvas{
    margin-top: 2vh;
    border: white solid 2px;
}

.sprites{
    display:none;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-basis: 10%;
}

.right{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.7vw;
    font-family: pixel;
    color: white;
    text-align: center;
    margin-left: 2vw;
}

.next-canvas{
    margin-right: 1vw;
    margin-top: 2vh;
    border: white solid 2px;
}

.hold{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.7vw;
    font-family: pixel;
    color: white;
    text-align: center;
    flex-basis: 70%;
    margin-right: 2vw;
}

.scores{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2vw;
    font-family: pixel;
    color: white;
    flex-basis: 20%;
    margin-right: 2vw;
    padding: 0.5vw;
    border: white solid 2px;
}
